#contain{

    display: flex;
}

#no{

    width: 50%;
    border: 1px solid green;
}
#yes{

    width: 50%;
    border: 1px solid black;

}

.entry{
    
    list-style-type: none;
    font-size: 1.5rem;
    padding: .2rem;
    
}